<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GovEase</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav mode="push" opened class="mt-3">
    <mat-nav-list class="mt-5">
      <!-- Home link -->
      <a
        mat-list-item
        [routerLink]="['/']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

