<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <img src="assets/logo.png" alt="GovEase Logo" class="logo" /> -->
  <span>GovEase</span>
  <span class="spacer"></span>

  <mat-form-field appearance="fill" class="language-dropdown mt-3">
    <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)">
      <mat-option value="en">English</mat-option>
      <mat-option value="ta">தமிழ்</mat-option>
      <mat-option value="si">සිංහල</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" *ngIf="!isLoggedIn" (click)="openLoginDialog()">Login</button>
  <button mat-raised-button color="accent" *ngIf="isLoggedIn" (click)="logout()">Logout</button>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" opened class="mt-3">
    <mat-nav-list class="mt-5">
      <!-- Home link -->
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active" class="nav-item" aria-label="Home">
        <mat-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </a>

      <ng-container *ngIf="isLoggedIn">
        <!-- Admin Dashboard -->
        <a mat-list-item [routerLink]="['/admin-dashboard']" routerLinkActive="active" class="nav-item"
          aria-label="Admin Dashboard">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-text">Admin Dashboard</span>
        </a>
        <!-- New User -->
        <a mat-list-item [routerLink]="['/register']" routerLinkActive="active" class="nav-item" aria-label="Register"
          *ngIf="!isAdmin">
          <mat-icon>person_add</mat-icon>
          <span class="nav-text">Register</span>
        </a>

        <!-- Upload Document-->
        <a mat-list-item [routerLink]="['/upload-document']" routerLinkActive="active" class="nav-item"
          aria-label="Upload Document" *ngIf="!isAdmin">
          <mat-icon>upload_file</mat-icon>
          <span class="nav-text">Upload Document</span>
        </a>

        <!-- Track Document-->
        <a mat-list-item [routerLink]="['/track-document']" routerLinkActive="active" class="nav-item"
          aria-label="Submission Tracking" *ngIf="!isAdmin">
          <mat-icon>analytics</mat-icon>
          <span class="nav-text">Submission Tracking</span>
        </a>

        <!-- Request Submission-->
        <a mat-list-item [routerLink]="['/request-submission']" routerLinkActive="active" class="nav-item"
          aria-label="Request Submission" *ngIf="!isAdmin">
          <mat-icon>assured_workload</mat-icon>
          <span class="nav-text">Request Submission</span>
        </a>

        <!-- Submitted Requests-->
        <a mat-list-item [routerLink]="['/submitted-requests']" routerLinkActive="active" class="nav-item"
          aria-label="Submitted Requests" *ngIf="!isAdmin">
          <mat-icon>list</mat-icon>
          <span class="nav-text">Submitted Requests</span>
        </a>

        <!-- Document Verification-->
        <a mat-list-item [routerLink]="['/document-verification']" routerLinkActive="active" class="nav-item"
          aria-label="Document Verification" *ngIf="isAdmin">
          <mat-icon>verified</mat-icon>
          <span class="nav-text">Document Verification</span>
        </a>

        <!-- Service Request Verification-->
        <a mat-list-item [routerLink]="['/service-request-verification']" routerLinkActive="active" class="nav-item"
          aria-label="Service Verification" *ngIf="isAdmin">
          <mat-icon>check_circle</mat-icon>
          <span class="nav-text">Service Verification</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>